:root {
  font-family: 'Ubuntu', sans-serif;
  --cor-primaria: #8C2633;
  --cor-primaria-texto: #fff;
  --cor-primaria-dark: #61131e;
  --cor-terciaria: #F1F1F1;
}

body,
#app {
  min-height: 100vh;
}

#app {
  display: grid;
  grid-template-columns:
    1fr min(65ch, 100%) 1fr;
  grid-template-rows: min-content 1fr;
  row-gap: 1rem;
}

#app>* {
  grid-column: 2;
}

a {
  text-decoration: none;
  color: unset;
  fill: unset;
}